*{
    box-sizing: border-box;
}
.box {
    border: dotted 2px rgb(96, 139, 168);
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box > div {
    border: solid 2px rgb(96, 139, 168);
    border-radius: 5px;
}
.one {
        flex: 0 0 200;
}
.two {
        flex: 0 1 200;
}
.three {
        flex: 0 1 200;
}